<md-toolbar class="flex-container" fxLayoutAlign="center">
</md-toolbar>

<div class="flexbox-parent">
  <div layout="row" layout-align="center center"  style="min-height: 500px">
      <md-input-container class="login-input" flex="50">
          <input md-input placeholder="Username" [(ngModel)]="username" (click)="onLoginClicked()">
      </md-input-container>
      <md-input-container class="login-input" flex="50">
          <input md-input placeholder="Password" [(ngModel)]="password" (click)="onLoginClicked()">
      </md-input-container>
      <button md-button class="login-btn">Login</button>
      <button md-button class="login-btn">Register</button>
      <!--<img src="../img/spotify.png" alt="Spotify"/>-->
      <button md-button class="login-btn" (click)="onSpotifyLoginClicked()">SPOTIFY</button>
  </div>
</div>