<!-- The following snippet could contain strange data.
     The data is intended only for test purposes. 
     This comment must be deleted when the data is replaced
     by variables.-->
<md-card class="example-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image">
      <md-icon>music_note</md-icon>
    </div>
    <md-card-title>{{ song.artist }}</md-card-title>
    <md-card-subtitle>{{ song.title }}  ({{ song.year }})</md-card-subtitle>
  </md-card-header>
  <md-card-actions>
    <button md-button>REQUEST</button>
    <button md-button>SEE LYRICS</button>
  </md-card-actions>
</md-card>